:root {
  --polar-night: #121212;
  --artic-wind: #ffffff;
  --gray-gray: rgba(216, 216, 216, 1);

  --radius-bg: 100px;
  --radius-md: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

