:root {
  --polar-night: #121212;
  --artic-wind: #ffffff;
  --dark-gray: rgba(137, 137, 137, 1);
  --gray-gray: rgba(216, 216, 216, 1);
  --gray-background: rgba(243, 243, 243, 1);
  --black-overlay: rgba(18, 18, 18, 0.5);

  --radius-bg: 100px;
  --radius-md: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

