.navTabs {
  display: flex;
  border: 1px solid var(--gray-gray);
  border-radius: var(--radius-bg);
  margin: 40px 0 24px 0;
}

.navTabs button {
  padding: 12px 20px;
  text-align: center;
  border: none;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--artic-wind);
  border-left: 1px solid var(--gray-gray);
  border-right: 1px solid var(--gray-gray);
}

.navTabs button:first-child {
  border-top-left-radius: var(--radius-bg);
  border-bottom-left-radius: var(--radius-bg);
}

.navTabs button:last-child {
  border-top-right-radius: var(--radius-bg);
  border-bottom-right-radius: var(--radius-bg);
}

.navTabs .active {
  background-color: var(--gray-background);
}
