.searchBarContainer {
  max-width: 360px;
  width: 100%;
  display: flex;
  border: 1px solid var(--gray-gray);
  justify-content: space-between;
  border-radius: var(--radius-bg);
  padding: 6px;
  box-sizing: border-box;
  margin: 24px 0;
}

.searchBarContainer:focus-within {
  border-color: var(--polar-night);
}

.searchBarInput {
  border: none;
  width: 100%;
  outline: none;
  padding: 0 8px 0 16px;
  font-size: inherit;
  font-family: inherit;
}
