.travelCard {
  border: 1px solid var(--gray-gray);
  border-radius: var(--radius-md);
  display: flex;
  min-height: 206px;
  text-align: left;
}

.travelCardImageContainer {
  flex: 0 0 50%;
  position: relative;
}

.travelCardImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.travelCardInfo {
  padding: 24px;
}

.travelCardTitle {
  font-size: 24px;
  padding-bottom: 16px;
  line-height: 30px;
}

.travelCardDescription {
  line-height: 24px;
}
